@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  background: #ffffff;
  color: #0f0f0f;
  overflow-x: hidden;
}

::selection {
  background: #6366f1;
  color: #ffffff;
}

::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: #6366f1;
  border-radius: 10px;
}
